venv/
raw_data/raw_audio/*
!raw_data/raw_audio/test.wav
raw_data/alignment_json/*
!raw_data/alignment_json/test_audio.json
raw_data/raw_transcript/*
!raw_data/raw_transcript/test.txt
Project Docs
data/audio/*
!data/audio/aligned_test_sample.wav
data/transcript/*
!data/transcript/aligned_test_sample.txt
